<template>
  <div class="{{lowerCase code}}-wrap">{{lowerCase name}}</div>
</template>
<script lang="ts" setup>
import { fetch{{properCase code}} } from "@/{{lowerCase code}}/service";
const store = use{{properCase code}}Store();
</script>
<style lang="scss" scoped>
.{{lowerCase code}}-wrap {
}
</style>
